.modalWrapper {
  position: absolute;
  width: -300px;
  height: 70vh;
  top: 0;
  right: 0;
  // transition: width 2s ease-in-out;

  .cartModal {
    height: 100%;

    transition: all 0.2s ease;

    background: grey;
    border-radius: 5px 0 0 5px;
    z-index: 100;
    display: grid;
    grid-template-rows: 30px 1fr;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px,
      rgba(0, 0, 0, 0.18) 0px 4px 11px;

    .cartHeader {
      font-size: 18px;
      font-weight: 500;
      border-bottom: 2px solid black;
    }

    .closeButton {
      float: right;
      width: 100px;
      padding-right: 10px;
      border: none;
      outline: none;
      background-color: transparent;
      text-align: right;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
    }

    .cartBody {
      padding: 20px 0;

      .cartEmpty {
        text-align: center;
        padding: 20px;
      }

      .cartItem {
        display: grid;
        grid-template-columns: 20px 1fr 20px;
        padding: 10px 10px;

        .itemTrash {
          cursor: pointer;
          img {
            height: 14px;
            padding-top: 5px;
            transition: all 0.3s ease-in-out;

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }

      .cartTotal {
        margin-top: 20px;
        border-top: 2px solid black;
        padding: 10px 10px;
        display: grid;
        grid-template-columns: 1fr 20px;

        .totalText {
        }

        .totalNum {
          text-align: right;
        }
      }
    }

    .checkoutButton {
      width: 100%;
      height: 20px;
      outline: none;
      border: none;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        &:disabled {
          height: 20px;
          box-shadow: none;
        }
        height: 50px;
        box-shadow: rgba(0, 0, 0, 0.22) 0px 5px 43px,
          rgba(0, 0, 0, 0.18) 0px 4px 11px;
      }
    }
  }

  &.closed {
    .cartModal {
      top: 0;
      right: 0;
      opacity: 0;
      margin-right: -300px;
      transition: all 0.2s ease;
    }
  }

  &.open {
    .cartModal {
      top: 0;
      right: 0;
      opacity: 1;
      width: 300px;
    }
  }
}
