.modalWrapper {
  position: absolute;
  width: -300px;
  min-height: 30vh;
  max-height: 70vh;
  top: 0;
  right: 0;
  z-index: 100;
  // transition: width 2s ease-in-out;

  .cartModal {
    height: 100%;

    transition: all 0.2s ease;

    // background: grey;

    background: rgb(142, 142, 142);
    background: linear-gradient(
      180deg,
      rgba(142, 142, 142, 1) 0%,
      rgba(173, 173, 173, 0.9962359943977591) 4%,
      rgba(255, 255, 255, 1) 30%
    );

    border-radius: 5px 0 0 5px;
    // z-index: 1001;
    display: grid;
    grid-template-rows: 50px 1fr;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px,
      rgba(0, 0, 0, 0.18) 0px 4px 11px;

    .cartHeader {
      font-size: 20px;
      font-weight: 500;
      border-bottom: 2px solid black;
      margin-top: 10px;
    }

    .closeButton {
      float: right;
      width: 100px;
      padding-right: 10px;
      border: none;
      outline: none;
      background-color: transparent;
      text-align: right;
      font-size: 20px;
      font-weight: 600;
      cursor: pointer;
      img {
        height: 30px;
        transition: all 0.2s;

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    .cartBody {
      padding: 20px 0;

      .cartEmpty {
        text-align: center;
        padding: 20px;
      }

      .cartItem {
        display: grid;
        grid-template-columns: 20px 1fr 20px;
        padding: 10px 10px;

        .itemTrash {
          cursor: pointer;
          img {
            height: 14px;
            padding-top: 5px;
            transition: all 0.3s ease-in-out;

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }

      .cartTotal {
        margin-top: 20px;
        border-top: 2px solid black;
        padding: 10px 10px;
        display: grid;
        grid-template-columns: 1fr 20px;

        .totalText {
        }

        .totalNum {
          text-align: right;
        }
      }
    }

    .checkoutButton {
      width: 100%;
      height: 40px;
      background-color: lightgrey;
      outline: none;
      border: none;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        &:disabled {
          height: 40px;
          box-shadow: none;
        }
        height: 60px;
        box-shadow: rgba(0, 0, 0, 0.22) 0px 5px 43px,
          rgba(0, 0, 0, 0.18) 0px 4px 11px;
      }
    }
  }

  &.closed {
    .cartModal {
      top: 0;
      right: 0;
      opacity: 0;
      margin-right: -300px;
      transition: all 0.2s ease;
    }
  }

  &.open {
    .cartModal {
      top: 0;
      right: 0;
      opacity: 1;
      width: 300px;
    }
  }
}
