.pageWrapper {
  box-sizing: border-box;
  width: 100vw;
  // height: 100%;
  user-select: none;
  margin-top: 0;
  margin-bottom: 0;
  // overflow-x: hidden;

  &.checkoutOpen {
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    // filter: grayscale(90%) opacity(25%);
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;
    height: 100px;
    // background: lightgray;
    background: rgb(142, 142, 142);
    background: linear-gradient(
      180deg,
      rgba(142, 142, 142, 1) 0%,
      rgba(173, 173, 173, 0.9962359943977591) 1%,
      rgba(255, 255, 255, 1) 50%
    );
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px,
      rgba(0, 0, 0, 0.18) 0px 4px 11px;
    margin-bottom: 20px;
    z-index: 2;

    .title {
      display: flex;
      font-size: 25px;
      margin-left: 20px;
      align-self: center;
      font-family: 'Roboto Mono', monospace;
    }

    .count {
      text-align: center;
      padding: 2px;
      display: block;
      position: relative;
      left: 10px;
      top: 50px;
      background-color: lawngreen;
      width: 22px;
      height: 22px;
      border-radius: 100px;
      align-items: center;
      z-index: 2;
      border: 1px solid grey;
      font-family: 'Roboto Mono', monospace;
    }

    .button {
      float: right;
      margin: 0 20px;
      outline: none;
      border: none;
      background-color: transparent;
      cursor: pointer;
      font-size: 16px;
      width: 50px;
      height: 50px;
      justify-content: center;
      align-self: center;
      padding-bottom: 30px;

      &.showButton {
        display: block;
      }

      &.hideButton {
        display: block;
      }

      .cartImage {
        z-index: 1;
        transition: all 0.2s ease-in-out;

        &.grow {
          transform: scale(1.5);
        }
      }
    }
  }

  .scrollToTop {
    img {
      position: fixed;
      width: 100%;
      bottom: 60px;
      right: 48%;
      align-items: center;
      height: 25px;
      width: 25px;
      // justify-content: center;
      z-index: 1000;
      cursor: pointer;
      transition: all 0.4s;
      opacity: 0.5;

      &:hover {
        opacity: 1;
        cursor: pointer;
        transform: scale(1.4);
      }
    }

    &.show {
      display: flex;
      opacity: 0.5;
    }
    &.hide {
      display: none;
      opacity: 0;
    }
  }
}

@media (min-width: 700px) {
  .pageWrapper:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1;
    background-image: url('../assets/confetti.png');
    background-size: auto 1000px;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    // animation: animatedBackground 10s linear;
  }
}
